postgres/data/
.git/
scr/.vscode/
scr/env/
scr/__pycache__/
scr/migrations/__pycache__/
scr/models/__pycache__/
scr/routes/__pycache__/
scr/schemas/__pycache__/
scr/migrations/versions/__pycache__/
scr/config
scr/config.py
