postgres/
.git/
backend/.vscode/
.env
**__pycache__/
backend/config.py
**.pytest_cache/
backend/migrations/versions/*.py
!backend/migrations/versions/__init__.py
**/logs/
nltk_data/
**/tests/
**/logs/
backend/models/test_db.py
