.row {
    position: absolute;
    top: calc(50% - 94px);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%; 
}

.col {
    width: 367px;
    left: calc(50% - 367px);
    position: relative;
}

img {
    width: 100%;
    height: 185px;
}

@media screen and (max-width: 600px) {
    .col {
        width: 100%;
        left: auto;
    }
}
